<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Calendar</title>
</head>
<body>

<h1 id="monthHeader" align="center">
    <div id="arrowL"><img src="../public/images/arrow2.png" alt="left arrow" width="75" height="50" id="left"></div>
    <div id="month"></div>
    <div id="arrowR"><img src="../public/images/arrow1.png" alt="right arrow" width="75" height="50" id="right"></div>
</h1>
<div id="calendar">
    <table id="table">
        <tr>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
    </table>
</div>
<div id="popup" style="visibility: hidden">
    <div id="container">
        <h2>Enter New Event</h2>
        <form>
            <div id="event-title">
                <label>Event title: </label>
                <input type="text" name="event" maxlength="100"/>
            </div>
            <div id="event-details">
                <label>Event details: </label>
                <textarea name="details" rows="5" maxlength="1000"></textarea>
            </div>
            <div id="hour">
                <select name="hours-list">
                    <option value="start">hour</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div id="minutes">
                <select name="minutes-list">
                    <option value="start">minutes</option>
                    <option value="0">0</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
            <div id="am-fm">
                <label>am<input type="radio" value="am"/></label>
                <label>fm<input type="radio" value="fm"/></label>
            </div>
            <div id="event-buttons">
                <button type="button" id="cancel-popup">Cancel</button>
                <button type="button" id="submit-popup">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="../public/javascript/calendar.js"></script>

</body>
</html>