//Created by Caciano on 2/16/2017.

doctype html
// Created by Caciano on 2/16/2017.
html(lang='en')
    head
        meta(charset='UTF-8')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        title Caciano's ToDo App
    body
        h1 Sign Up
        form(method='POST')
            .container
                .inputs
                    label Input Email:
                    input(type='email', name='email', required='required', maxlength="50")
                .inputs
                    label Choose Password:
                    input#confirm(type='password', name='password', required='required', maxlength="30", minlength="5")
                div
                    button#cancel(type='button', onclick='window.location = "login"') Cancel
                    button(type='submit') Sign up