<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Caciano's ToDo App</title>
</head>
<body>

<h1>Sign Up</h1>
<form>
    <div class="container">
        <div class="inputs">
        <label>Input Email:</label>
        <input type="email" name="user_email" required="required">
        </div>

        <div class="inputs">
        <label>Choose Password:</label>
        <input type="password" required="required">
        </div>

        <div class="inputs">
        <label>Confirm Password:</label>
        <input type="password" name="user_password" required="required">
        </div>

        <div>
        <button type="button" id="cancel">Cancel</button>
        <button type="button">Sign up</button>
        </div>
    </div>
</form>

<script src="../public/javascript/sign-up.js"></script>

</body>
</html>